@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #767a93;
  color: #f3f3f3;
  font-size: 7rem;
  display: grid;
  place-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.start {
  filter: drop-shadow(10px 5px 10px #3a3434);
}

.pause img,
.reset img {
  width: 50%;
  height: auto;
}

.start img {
  width: 80%;
  height: auto;
}
